<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ league?.name }} - Season {{ selectedSeason }} - Tables
    </ion-title>
    <ion-avatar slot="start">
      <ion-img [src]="league?.logo"></ion-img>
    </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="season-select-container">
    <ion-label>Season: </ion-label>
    <ion-select [(ngModel)]="selectedSeason" (ionChange)="onSeasonChange($event)">
      <ion-select-option *ngFor="let season of seasons" [value]="season.year">
        {{ season.year }}
      </ion-select-option>
    </ion-select>
  </div>

  <!-- Table with additional styling -->
  <ion-grid *ngIf="standings && standings.length > 0">
    <ion-row class="table-header">
      <ion-col size="1">#</ion-col>
      <ion-col size="1">Logo</ion-col>
      <ion-col>Team</ion-col>
      <ion-col size="1">Played</ion-col>
      <ion-col size="1">Wins</ion-col>
      <ion-col size="1">Draws</ion-col>
      <ion-col size="1">Losses</ion-col>
      <ion-col size="1">GF</ion-col>
      <ion-col size="1">GA</ion-col>
      <ion-col size="1">GD</ion-col>
      <ion-col size="1" class="highlighted-column">Points</ion-col>
    </ion-row>
    <ion-row *ngFor="let standing of standings; let i = index" class="table-row">
      <ion-col size="1">{{ i + 1 }}</ion-col>
      <ion-col size="1" class="logo-col">
        <ion-img [src]="standing.team.logo" style="width: auto; height: 30px;"></ion-img>
      </ion-col>
      <ion-col>{{ standing.team.name }}</ion-col>
      <ion-col size="1">{{ standing.all.played }}</ion-col>
      <ion-col size="1">{{ standing.all.win }}</ion-col>
      <ion-col size="1">{{ standing.all.draw }}</ion-col>
      <ion-col size="1">{{ standing.all.lose }}</ion-col>
      <ion-col size="1">{{ standing.all.goals.for }}</ion-col>
      <ion-col size="1">{{ standing.all.goals.against }}</ion-col>
      <ion-col size="1">{{ standing.goalsDiff }}</ion-col>
      <ion-col size="1" class="highlighted-column">{{ standing.points }}</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-text *ngIf="!(standings && standings.length > 0)">
    No standings available for the selected season.
  </ion-text>
</ion-content>
