<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
     
      <div *ngIf="teamInfo">
        <img [src]="teamInfo.logo" alt="{{ teamInfo.name }} logo" style="height: 30px;">
        {{ teamInfo.name }} Players
      </div>
      <div *ngIf="!teamInfo">
        Team Players
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Team</ion-label>
    <ion-select [(ngModel)]="selectedTeamId" (ionChange)="loadTeamPlayers()">
      <ion-select-option *ngFor="let teamId of teamIds" [value]="teamId">
        Team {{ teamId }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let player of players">
        <ion-card>
          <img [src]="player.photo" alt="Player photo">
          <ion-card-header>
            <ion-card-title>{{ player.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Age: {{ player.age }}</p>
            <p>Position: {{ player.position }}</p>
            <p>Number: {{ player.number }}</p>
          </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
