/* Custom styles for the login page */

/* Header styling */
ion-header {
  --background: rgba(255, 255, 255, 0.9); /* Lightly transparent background */
  --ion-color-base: #f4f4f4; /* Light grey for the header base */
}

/* Toolbar styling */
ion-toolbar {
  --padding-start: 16px;
  --padding-end: 16px;
}

/* Title styling */
ion-title {
  color: #007bff; /* Premier League blue */
  text-align: center;
  font-size: 1.5em; /* Larger font size for title */
}

/* Content styling */
ion-content {
  --background: none;
  background-image: url('/assets/PitchView.png'); /* Background image */
  background-size: cover;
  background-position: center;
}

/* Item styling */
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --min-height: 50px; /* Adjust the height of ion-item */
  --border-color: #ddd; /* Border color for the input */
  --background: #ffffff; /* White background for input field */
  margin-bottom: 16px; /* Spacing between fields */
}

/* Input styling */
ion-input {
  --placeholder-color: #bbb; /* Placeholder color */
  --placeholder-opacity: 1; /* Make placeholder fully visible */
  --color: #333; /* Text color */
  --padding-start: 16px; /* Padding inside the input */
  --padding-end: 16px; /* Padding inside the input */
}

/* Label styling */
ion-label {
  color: #333; /* Text color for label */
}

/* Button styling */
ion-button {
  margin-top: 20px; /* Space above the button */
  --background: #007bff; /* Premier League blue for buttons */
  --border-radius: 4px; /* Rounded corners for buttons */
  --padding-top: 10px; /* Padding for button content */
  --padding-bottom: 10px; /* Padding for button content */
  --color: #fff; /* Text color for buttons */
}

/* Row styling */
ion-row {
  justify-content: center;
  margin-top: 20px;
}

/* Column styling */
ion-col {
  padding: 8px;
}

/* Button inside column styling */
ion-col ion-button {
  --background: #fff; /* White background for secondary buttons */
  --color: #007bff; /* Premier League blue for text */
  --border: 1px solid #007bff; /* Border to match text color */
  --border-radius: 4px; /* Rounded corners for buttons */
  --padding-top: 10px; /* Padding for button content */
  --padding-bottom: 10px; /* Padding for button content */
}

/* Container for login card */
.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styling for login card */
ion-card {
  margin: 16px; /* Provides some spacing from the screen edges */
  width: 100%;
  max-width: 400px; /* Adjust the max width as per your design preference */
  background: rgba(255, 255, 255, 0.8);
}

/* Styling for card header */
ion-card-header {
  text-align: center;
}

/* Styling for card title */
ion-card-title {
  font-size: 1.5em;
  color: #007bff; /* Premier League blue */
}

/* Styling for card content */
ion-card-content {
  padding: 16px;
}
