<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="header">
        <span>Welcome to Our Premier League App!</span>
        <button class="logout-button" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          LOGOUT</button>
      </div>
      
      
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Premier League</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-button (click)="goToPremierLeague()">
    Premier League
  </ion-button>
  <ion-button (click)="goFixtures()">
    Fixtures
  </ion-button>
  <ion-button (click)="seePlayers()">

  </ion-button>

  <ion-item>
    <ion-label>Season</ion-label>
    <ion-select [(ngModel)]="selectedSeason" (ionChange)="loadTopScorers()">
      <ion-select-option *ngFor="let season of seasons" [value]="season">
        {{ season }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let scorer of topScorers">
      <ion-avatar slot="start">
        <img [src]="scorer.photo" [alt]="scorer.name" onError="this.src='path_to_placeholder_image';">
      </ion-avatar>
      <ion-label>
        <h2>{{ scorer.name }}</h2>
        <p>Goals: {{ scorer.goals }}</p>
        <p>Team: {{ scorer.team }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
