<ion-list>
  <ion-item>
    <ion-label>
      <h2>Teams Information</h2>
      <p>Manchester United - 33</p>
      <p>Newcastle United - 34</p>
      <p>Bournemouth - 35</p>
      <p>Fulham - 36</p>
      <p>Wolves - 39</p>
      <p>Liverpool - 40</p>
      <p>Arsenal - 42</p>
      <p>Burnley - 44</p>
      <p>Everton- 45</p>
      <p>Tottenham - 47</p>
      <p>West Ham - 48</p>
      <p>Chelsea - 49</p>
      <p>Manchester City - 50</p>
      <p>Brighton - 51</p>
      <p>Crystal Palace - 52</p>
      <p>Brentford - 55</p>
      <p>Sheffield United - 62</p>
      <p>Nottingham Forest - 65</p>
      <p>Aston Villa - 66</p>
    </ion-label>
  </ion-item>
</ion-list>